.tom-pottiger-yxzl9lnxsna-unspl-icon4 {
  height: 100%;
  width: 1436px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.frame-with-text-child {
  align-self: stretch;
  height: 868px;
  position: relative;
  background: linear-gradient(183.43deg, rgba(0, 0, 0, 0.85), transparent);
  display: none;
}
.instance-child1 {
  height: 150px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.tonic-white-1-icon4 {
  height: 94px;
  width: 133px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.contact8,
.services8,
.studios8,
.team9 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.contact8,
.studios8,
.team9 {
  cursor: pointer;
}
.connect-frames1 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.project-name,
.rectangle-parent8 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.project-name {
  margin: 0;
  width: 390px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0;
}
.rectangle-parent8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-xl) var(--padding-7xl);
  gap: 0 661px;
  z-index: 2;
}
.puthran7,
.sachin7 {
  margin: 0;
}
.sachin-puthran7 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.sachin-puthran-wrapper {
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-45xl);
}
.designation1 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  z-index: 2;
}
.lorem-ipsum-text {
  width: 163px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  z-index: 2;
}
.frame-parent10 {
  width: 378px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.5px 0;
  max-width: 100%;
}
.frame-with-text1,
.project-info {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.project-info {
  width: 644px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-with-text1 {
  flex: 1;
  background: linear-gradient(183.43deg, rgba(0, 0, 0, 0.85), transparent);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-38xl);
  gap: 389px 0;
  z-index: 1;
}
.tom-pottiger-yxzl9lnxsna-unspl-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.category-011 {
  color: var(--color-blueviolet);
}
.all,
.category-011,
.category-02,
.category-03,
.category-04 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  min-width: 156px;
  max-width: 159px;
}
.footer-frame-wrapper,
.footer-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-frame1 {
  width: 815px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0 5px;
}
.footer-frame-wrapper {
  width: 1071px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child13 {
  height: 0.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.instagram-twitter-frames-inner {
  align-self: stretch;
  height: 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child14 {
  border: 1px;
  background-color: var(--color-darkslategray);
  height: 200px;
  width: 300px;
  outline: 0;
  position: relative;
  margin: 30px;
  padding: 1px;
}
.project-011 {
  width: 150px;
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
}
.connect-easily-through20 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
  font-weight: 300;
}
.connect-easily-through-wifi-6-wrapper2 {
  /* width: 369px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  width: 100%;
  /* text-align: center; */
  font-size: var(--font-size-lg);
}
.project-01-parent {
  width: 636px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
  /* align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  
  gap: var(--gap-xl); */
}
.footer-text,
.frame-wrapper15,
.additional-info,
.rectangle-parent9 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0px;
  padding: 30px;
  text-align: left;

  
}
.footer-text:hover,
.frame-wrapper15:hover,
.additional-info:hover,
.rectangle-parent9:hover {
  background-color: blue;
}

.frame-wrapper15 {
  width: 100%;
  flex-direction: column;
  text-align: left;
  align-self: stretch;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.footer-text,
.rectangle-parent9 {
  flex-direction: row;
}
.rectangle-parent9 {
  width: 1071px;
  justify-content: space-between;
  gap: var(--gap-xl);
  /* width: 100%;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl); */
}
.footer-text {
  width: 1500px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl) var(--padding-xl);
 
}
.footer-text:hover{
  background-color: blue;
}
.frame-child15 {
  align-self: stretch;
  height: 636px;
  position: relative;
  background-color: var(--color-blueviolet);
  display: none;
}
.youtube-and-vimeo-video {
  align-self: stretch;
  height: 439px;
  position: relative;
  z-index: 1;
}
.you-tube-video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 696px;
  max-width: 100%;
}
.client,
.project-021 {
  width: 150px;
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
}
.client {
  font-size: var(--font-size-xl);
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  z-index: 1;
}
.instagram-icon,
.project-02-parent,
.twitter-icon {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-02-parent {
  width: 424px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30.5px 0;
  min-width: 424px;
}
.instagram-icon,
.twitter-icon {
  flex-direction: row;
}
.twitter-icon {
  width: 1218px;
  justify-content: flex-start;
  gap: 0 84px;
}
.instagram-icon {
  width: 1400px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child16 {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent10 {
  align-self: stretch;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 95px 0 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: 99px 0;
  max-width: 100%;
}
.line-vector-child {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.footer-frames {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through21,
.project-031 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-031 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through21 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.connect-widget {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.connect-widget,
.footer-frames-parent,
.project-frame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-frame {
  width: 636px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.footer-frames-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-text-parent,
.line-vector,
.line-vector-inner {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.line-vector-inner {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-51xl);
  flex-shrink: 0;
  background-color: brown;
  /* height: 100vh; */
}
.footer-text-parent,
.line-vector {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.line-vector {
  padding: 0 0 0 var(--padding-11xs);
  gap: 28px 0;
}
.footer-text-parent {
  width: 100%;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-169xl) var(--padding-21xl) 178px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  transition: background-color 0.3s ease;
}
.contact-section-icon {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.instagram-twitter-child {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through22,
.project-041 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-041 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through22 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.project-04-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.instagram-twitter-inner,
.instagram-twitter1,
.project-04-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.instagram-twitter-inner {
  width: 636px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.instagram-twitter1 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-frame2,
.social-links {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.social-links {
  width: 1379px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-51xl);
  flex-shrink: 0;
  background-color: blueviolet;
}
.footer-frame2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-11xs);
  gap: 28px 0;
}
.frame-child17 {
  height: 0.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.instagram-twitter-frames-child {
  align-self: stretch;
  height: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.project-text {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through23,
.project-051 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-051 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through23 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.connect-text,
.project-05-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-05-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.connect-text {
  width: 636px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.instagram-twitter-frames-inner1,
.project-text-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.project-text-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.instagram-twitter-frames-inner1 {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
}
.frame-child18 {
  height: 0.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.instagram-twitter-frames-inner2 {
  align-self: stretch;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child19 {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through24,
.project-061 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-061 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through24 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.frame-wrapper16,
.project-06-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-06-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper16 {
  width: 636px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.instagram-twitter-frames-inner3,
.rectangle-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent11 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.instagram-twitter-frames-inner3 {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
}
.instagram-twitter-frames,
.project-rectangle {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 29px 0;
  max-width: 100%;
  font-size: var(--font-size-3xl);
}
.project-rectangle {
  align-items: center;
  padding: 0 var(--padding-10xs) 99px 0;
  box-sizing: border-box;
  gap: 5px 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.footer-child1,
.get-in-touch5 {
  position: relative;
  max-width: 100%;
}
.footer-child1 {
  width: 1440px;
  height: 416px;
  background-color: var(--color-blueviolet);
  display: none;
}
.get-in-touch5 {
  margin: 0;
  width: 674px;
  height: 86px;
  font-size: inherit;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.contact9,
.services9,
.studios9,
.team10 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.contact-info-frame {
  width: 414px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.tonic-the-music4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.copyright,
.services-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.services-contacts {
  align-self: stretch;
  gap: 65px 0;
}
.copyright {
  width: 609px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 609px;
}
.instagram4,
.twitter4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.footer-frame3,
.services-studio-team1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-frame3 {
  width: 375px;
  justify-content: flex-start;
  gap: 0 2px;
  font-size: var(--font-size-6xl);
}
.services-studio-team1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.detailed-profile1,
.footer4,
.project-frame1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.project-frame1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  max-width: 100%;
  font-size: var(--font-size-base);
}
.detailed-profile1,
.footer4 {
  flex-direction: column;
}
.footer4 {
  align-self: stretch;
  background-color: var(--color-blueviolet);
  padding: var(--padding-43xl) 0 var(--padding-18xl) var(--padding-96xl);
  gap: var(--gap-86xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.detailed-profile1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  padding: 0 0 120px;
  gap: 169px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .rectangle-parent8 {
    gap: 0 330px;
  }
  .instagram-twitter-frames-inner1,
  .instagram-twitter-frames-inner3,
  .line-vector-inner,
  .social-links {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .project-rectangle {
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  .copyright {
    flex: 1;
  }
  .services-studio-team1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .sachin-puthran7 {
    font-size: var(--font-size-32xl);
    line-height: 56px;
  }
  .frame-with-text1 {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .rectangle-parent9 {
    flex-wrap: wrap;
  }
  .project-02-parent {
    flex: 1;
  }
  .twitter-icon {
    overflow-x: auto;
  }
 
  .footer-frames-parent,
  .instagram-twitter1,
  .project-text-parent,
  .rectangle-parent11,
  .twitter-icon {
    flex-wrap: wrap;
  }
  .project-rectangle {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .get-in-touch5 {
    font-size: var(--font-size-31xl);
    line-height: 60px;
  }
  .copyright {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .project-name {
    display: none;
  }
  .rectangle-parent8 {
    gap: 0 165px;
  }
  .frame-with-text1 {
    gap: 194px 0;
  }
  .project-01-parent {
    flex-wrap: wrap;
  }
  .project-02-parent {
    min-width: 100%;
  }
  .twitter-icon {
    gap: 0 42px;
  }
  .rectangle-parent10 {
    gap: 49px 0;
    padding-top: var(--padding-43xl);
    box-sizing: border-box;
  }
  .connect-widget,
  .project-04-group,
  .project-05-group,
  .project-06-group {
    flex-wrap: wrap;
  }
  .project-rectangle {
    gap: 39px 0;
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .services-contacts {
    gap: 32px 0;
  }
  .footer4 {
    gap: var(--gap-33xl);
    padding-left: var(--padding-38xl);
    box-sizing: border-box;
  }
  .detailed-profile1 {
    gap: 84px 0;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent8 {
    gap: 0 83px;
  }
  .sachin-puthran7 {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .frame-with-text1 {
    gap: 97px 0;
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
  .client,
  .project-011,
  .project-021 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .client {
    font-size: var(--font-size-base);
  }
  .project-02-parent {
    gap: 15px 0;
  }
  .twitter-icon {
    gap: 0 21px;
  }
  .rectangle-parent10 {
    gap: 25px 0;
  }
  .project-031,
  .project-041,
  .project-051,
  .project-061 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .project-rectangle {
    gap: 20px 0;
  }
  .get-in-touch5 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }
  .contact-info-frame {
    flex-wrap: wrap;
  }
  .services-contacts {
    gap: 16px 0;
  }
  .instagram4,
  .twitter4 {
    font-size: var(--font-size-xl);
    line-height: 80px;
  }
  .footer-frame3 {
    flex-wrap: wrap;
  }
  .footer4 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-xl);
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
  .detailed-profile1 {
    gap: 42px 0;
  }
}
/* .footer-text {
  
  border: 1px solid #ccc;
  padding: 10px;
}
.rectangle-parent9 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.frame-child14 {
  width: 100%;
}
.frame-wrapper15 {
  display: none;
} */


.expand {
  height: 50px;
  max-height: 1000px; /* Adjust according to your content */
  transition: max-height 0.5s ease;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.project-01-parent {
  display: none;
  /* Adjust the expanded size */
  width: 30%; /* Example width */
  height: 300px; /* Example height */
}

/* 
.line-vector-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.footer-frames {
  resize: none;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}



/* .additional-info:hover {
  background-color: green; 
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer-text-parent {
  animation: fadeIn 0.5s ease; /* Adjust duration and timing function as needed */
}


/* line  */
.cnt_dbl_top {
	margin: 6.302vw;
	position: relative;
}

@media(max-width: 760px) {
	.cnt_dbl_top {
		margin: 143px 0 0;
	}
}

.rows {
	display: flex;
	position: relative;
	height:47vh;
	justify-content: space-between;
}
.rows:hover{
  background-color: blue;
}

@media(max-width: 760px) {
	.rows {
		height: auto;
		flex-wrap: wrap;
		padding: 53px 0 65px;
	}
}

.cols {
	width: 50%;
	position: relative;
	height: 100%;
}

@media(max-width: 760px) {
	.cols {
		width: 100%;
		height: auto;
	}
	.cols.cols02 {
		margin-top: 42px;
	}
}

.desc {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
}

.t {
	color: rgba(169, 171, 181, 0.40);
	font: normal 0.938vw/0.938vw ;
	letter-spacing: -0.028vw;
	margin: 0 0 0.573vw;
}

@media(max-width: 1280px) {
	.t {
		font: normal 0.938vw/0.938vw ;
	}
}

@media(max-width: 1024px) {
	.t {
		font: normal 1.172vw/1.172vw ;
	}
}

@media(max-width: 760px) {
	.t {
		font: normal 14px/14px ;
		margin: 0 0 8px;
	}
}

.bt a {
	color: #fff;
	font: normal 2.24vw/2.24vw;
	letter-spacing: -0.101vw;
}

@media(max-width: 760px) {
	.bt a {
		font: normal 23px/28px ;
		letter-spacing: -0.575px;
	}
}

.ln_h {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 1px;
}

.ln_h.cdt_ln_t_h {
	top: 0;
	left: 0;
	right: 0;
}

.ln_h.cdt_ln_b_h {
	bottom: 0;
	left: 0;
	right: 0;
}

.ln_h span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: #1c34c2;
	transform: scaleX(0);
	transform-origin: 50% 50%;
}

.cdt_ln_v {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
}

@media(max-width: 760px) {
	.cdt_ln_v {
		opacity: 0;
	}
}

.cdt_ln_v span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: #515258;
	transform: scaleY(0);
	transform-origin: 0% 0%;
}




.ln_v,
.ln_h {
  border: 1px  #b81818;
  margin-top: 0px;
}



.frame-child14.expanded {
  /* Define the expanded size */
  width: 100%; /* Adjust this according to your requirements */
  height: auto; /* Adjust this according to your requirements */
}

.videoFrame {
  display: none;
}
.project-content {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition effect */
}

.project-content.active {
  opacity: 1;
}
