.christian-buehner-ditylc26zvi-icon3 {
  height: 902px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.christian-buehner-ditylc26zvi-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child10 {
  width: 1440px;
  height: 902px;
  position: relative;
  background: linear-gradient(183.43deg, rgba(0, 0, 0, 0.67), transparent);
  display: none;
  max-width: 100%;
}
.puthran6,
.sachin6 {
  margin: 0;
}
.sachin-puthran6 {
  margin: 0;
  width: 336px;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.designation {
  flex: 1;
  position: relative;
  line-height: 25px;
  z-index: 2;
}
.designation-wrapper,
.rectangle-parent3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.designation-wrapper {
  width: 165px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  font-size: var(--font-size-lg);
}
.rectangle-parent3 {
  align-self: stretch;
  background: linear-gradient(183.43deg, rgba(0, 0, 0, 0.67), transparent);
  flex-direction: column;
  justify-content: flex-end;
  padding: 546px 127px 175px;
  gap: 17px 0;
  max-width: 100%;
  z-index: 1;
}
.instance-inner {
  height: 150px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.tonic-white-1-icon3 {
  height: 94px;
  width: 133px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.contact6,
.services6,
.studios6,
.team7 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.contact6,
.studios6,
.team7 {
  cursor: pointer;
}
.wi-fi-connect-frame {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.wi-fi-connect-frame-wrapper {
  margin: 0;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent9,
.rectangle-parent4 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -902px;
}
.rectangle-parent4 {
  margin-right: -1px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-xl) var(--padding-7xl);
  gap: 0 661px;
  z-index: 2;
}
.frame-parent9 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 1142px;
  min-height: 2044px;
}
.frames-layout-icon {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle-pair {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.project-01 {
  width: 150px;
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block;
}
.category-01 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-weight: 500;
  color: var(--color-white);
}
.project-data {
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px 0;
}
.connect-easily-through14 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
  font-weight: 300;
}
.project-instance-connect,
.wifi-connection {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.wifi-connection {
  width: 369px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.project-instance-connect {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.project-instance-connect-wrapper {
  width: 637px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.category-frame,
.project-name-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.project-name-frame {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.category-frame {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
  color: var(--color-blueviolet);
}
.main-footer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-blueviolet);
  cursor: pointer;
}
.project-frame-data {
  border: 0;
  background-color: #e4e4e4;
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
  z-index: 1;
}
.connect-easily-through15,
.project-02 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.project-02 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through15 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.footer-frame,
.rectangle-border {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle-border {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.touch-information,
.touch-information-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.touch-information {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.touch-information-wrapper {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.border-rectangle,
.vector-line-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.vector-line-icon {
  height: 0.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.border-rectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 36px 0 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: 28px 0;
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through16,
.project-03 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-03 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through16 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.frame-wrapper12,
.project-03-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-03-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.category-frame1,
.rectangle-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent5 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.category-frame1 {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
}
.category-frame-parent,
.frames-layout-icon1 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.category-frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32px 0;
}
.frames-layout-icon1 {
  height: 0.3px;
  position: relative;
  overflow: hidden;
}
.rectangle-vector-child {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through17,
.project-04 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-04 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through17 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.project-04-parent,
.project-category-frame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-04-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.project-category-frame {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.frames-layout,
.rectangle-vector {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-vector {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frames-layout {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frames-layout-icon2 {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child11 {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through18,
.project-05 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-05 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through18 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.frame-wrapper13,
.project-05-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-05-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper13 {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.frames-layout1,
.rectangle-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent6 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frames-layout1 {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frames-layout-icon3 {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child12 {
  border: 0;
  background-color: var(--color-darkslategray);
  height: 148px;
  width: 213px;
  outline: 0;
  position: relative;
}
.connect-easily-through19,
.project-06 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.project-06 {
  width: 150px;
  line-height: 28px;
  text-transform: uppercase;
}
.connect-easily-through19 {
  width: 369px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  font-weight: 300;
  max-width: 100%;
}
.frame-wrapper14,
.project-06-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-06-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper14 {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.frames-layout2,
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent7 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frames-layout2 {
  width: 1379px;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frames-layout-icon4 {
  align-self: stretch;
  height: 0.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.category-project-frame,
.connect-through-wifi {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.connect-through-wifi {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px 0;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.category-project-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 1092px var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -902px;
}
.footer-item,
.get-in-touch4 {
  position: relative;
  max-width: 100%;
}
.footer-item {
  width: 1440px;
  height: 416px;
  background-color: var(--color-blueviolet);
  display: none;
}
.get-in-touch4 {
  margin: 0;
  width: 674px;
  height: 86px;
  font-size: inherit;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.contact7,
.services7,
.studios7,
.team8 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.footer-copyright {
  width: 414px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.tonic-the-music3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.footer-copyright-parent,
.social-frames-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-copyright-parent {
  align-self: stretch;
  gap: 65px 0;
}
.social-frames-inner {
  width: 609px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 609px;
}
.instagram3,
.twitter3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.footer-text-container,
.social-frames {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-text-container {
  width: 375px;
  justify-content: flex-start;
  gap: 0 2px;
  font-size: var(--font-size-6xl);
}
.social-frames {
  flex: 1;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.detailed-profile,
.footer3,
.social-frames-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.social-frames-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  max-width: 100%;
  font-size: var(--font-size-base);
}
.detailed-profile,
.footer3 {
  flex-direction: column;
}
.footer3 {
  margin-left: -1px;
  align-self: stretch;
  background-color: var(--color-blueviolet);
  padding: var(--padding-43xl) var(--padding-12xs) var(--padding-18xl)
    var(--padding-96xl);
  gap: var(--gap-86xl);
  max-width: 100%;
  margin-top: -902px;
  font-size: var(--font-size-81xl);
}
.detailed-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  padding: 0;
  min-height: 3191px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 1200px) {
  .rectangle-parent4 {
    gap: 0 330px;
  }
  .frame-parent9 {
    padding-bottom: 742px;
    box-sizing: border-box;
  }
  .category-frame,
  .category-frame1,
  .frames-layout,
  .frames-layout1,
  .frames-layout2,
  .touch-information-wrapper {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .category-project-frame {
    padding-bottom: 461px;
    box-sizing: border-box;
  }
  .social-frames-inner {
    flex: 1;
  }
  .social-frames {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .sachin-puthran6 {
    font-size: var(--font-size-32xl);
    line-height: 56px;
  }
  .rectangle-parent3 {
    padding-top: 922px;
    padding-bottom: 114px;
    box-sizing: border-box;
  }
  .project-name-frame,
  .rectangle-parent5,
  .rectangle-parent6,
  .rectangle-parent7,
  .rectangle-vector,
  .touch-information {
    flex-wrap: wrap;
  }
  .get-in-touch4 {
    font-size: var(--font-size-31xl);
    line-height: 60px;
  }
  .social-frames-inner {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent3 {
    padding-left: var(--padding-44xl);
    padding-right: var(--padding-44xl);
    box-sizing: border-box;
  }
  .wi-fi-connect-frame-wrapper {
    display: none;
  }
  .rectangle-parent4 {
    gap: 0 165px;
  }
  .frame-parent9 {
    padding-bottom: 482px;
    box-sizing: border-box;
  }
  .footer-frame,
  .project-03-parent,
  .project-instance-connect {
    flex-wrap: wrap;
  }
  .category-frame-parent {
    gap: 16px 0;
  }
  .project-04-parent,
  .project-05-parent,
  .project-06-parent {
    flex-wrap: wrap;
  }
  .connect-through-wifi {
    gap: 16px 0;
  }
  .category-project-frame {
    padding-bottom: 300px;
    box-sizing: border-box;
  }
  .footer-copyright-parent {
    gap: 32px 0;
  }
  .footer3 {
    gap: var(--gap-33xl);
    padding-left: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sachin-puthran6 {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .rectangle-parent3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: 74px;
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    gap: 0 83px;
  }
  .project-01,
  .project-02,
  .project-03,
  .project-04,
  .project-05,
  .project-06 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .get-in-touch4 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }
  .footer-copyright {
    flex-wrap: wrap;
  }
  .footer-copyright-parent {
    gap: 16px 0;
  }
  .instagram3,
  .twitter3 {
    font-size: var(--font-size-xl);
    line-height: 80px;
  }
  .footer-text-container {
    flex-wrap: wrap;
  }
  .footer3 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
}
