body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-space-grotesk: "Space Grotesk";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-81xl: 100px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-101xl: 120px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-blueviolet: #3532d1;
  --color-gray-100: #767474;
  --color-gray-200: rgba(0, 0, 0, 0.23);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-darkslategray: #313131;

  /* Gaps */
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-10xl: 29px;
  --gap-46xl: 65px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-33xl: 52px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-59xl: 78px;
  --gap-86xl: 105px;
  --gap-7xl: 26px;
  --gap-26xl: 45px;
  --gap-lgi: 19px;
  --gap-mid: 17px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-9xl: 28px;
  --gap-49xl-5: 68.5px;

  /* Paddings */
  --padding-179xl: 198px;
  --padding-43xl: 62px;
  --padding-6xs: 7px;
  --padding-18xl: 37px;
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-7xs: 6px;
  --padding-11xl: 30px;
  --padding-7xl: 26px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-28xl-9: 47.9px;
  --padding-2xl: 21px;
  --padding-22xl-2: 41.2px;
  --padding-12xl: 31px;
  --padding-8xl: 27px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-19xl: 38px;
  --padding-169xl: 188px;
  --padding-9xl: 28px;
  --padding-40xl: 59px;
  --padding-96xl: 115px;
  --padding-38xl: 57px;
  --padding-smi: 13px;
  --padding-12xs: 1px;
  --padding-xs: 12px;
  --padding-44xl: 63px;
  --padding-9xs: 4px;
  --padding-3xl: 22px;
  --padding-51xl: 70px;
  --padding-16xl: 35px;
  --padding-mini: 15px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-16xl: 35px;
}

a:-webkit-any-link {
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}

/* header css */

.parent-services-frame-wrapper,
.rectangle-container {
  margin: 0;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.rectangle-container {
  width: 100%;
  margin: 0 !important;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  /* padding: var(--padding-11xl) var(--padding-xl) var(--padding-7xl); */
  gap: 661px;
  z-index: 99;
}
.banner-1-icon {
  height: 900px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.component-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}

.tonic_logo {
  height: 94px;
  width: 133px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.tonic_logo_black {
  display: none;
}

.contact,
.services,
.studios,
.team1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.contact,
.studios,
.team1 {
  cursor: pointer;
}

.parent-services-frame {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.verticalline {
  height:350px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  /* display: none; */
}

.verticalline1 {
  height:350px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  /* display: none; */
}
/* .vertical-line{

} */
.horizontal-line {
  height: 255px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
}
.horizontal-line-pc {
  height: 255px;
  width: 100%;
  position: relative;
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: block;
}
.navbar {
  display: none;
}

.close {
  display: none;
}

#navigationWrap {
  display: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  color: rgb(97, 91, 91);
  font-size: var(--font-size-31xl);
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
}

nav ul li:first-child {
  font-size: var(--font-size-31xl);
  overflow: visible;
}

nav a {
  color: rgb(248, 244, 244);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

nav a:hover {
  color: var(--color-blueviolet);
}


.banner-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 0 0 var(--padding-169xl); */
  box-sizing: border-box;
  max-width: 100%;
}



/* .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Horizontally center the menu
  align-items: center;
  margin-top: 35%;
} */


/* footer */
.ajinkya-neman-container,
.services-footer,
.test-2 {
  display: flex;
  justify-content: flex-start;
}

.services-footer {
  width: 308.4px;
  height: 116.8px;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 15.4px;
  font-size: var(--font-size-lg);
}
.tonic-the-music-footer,
.tonic-the-music {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
  /* flex-direction: row; */
}
.footer,
.homepage {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
  background-color: var(--color-blueviolet);
}
.frame-wrapper2,
.get-in-touch-parent,
.service-studio-contact-info-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.get-in-touch-parent {
  width: 100%;
  flex-direction: column;
  gap: 80px 0;
  /* min-width: 654px; */
}
.get-in-touch1 {
  align-self: stretch;
  height: 100%;
  position: relative;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper2,
.get-in-touch-parent,
.service-studio-contact-info-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width:100%;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  /* box-sizing: border-box; */
  font-size: var(--font-size-base);
}
.service-studio-contact-info-parent {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
}
.service-studio-contact-info {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.service-studio-contact-info-parent {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
}
.contact1,
.services1,
.studios1,
.team2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}
.services-studios-team-contact1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 29px 0 0;
  box-sizing: border-box;
  /* min-width: 240px;
  max-width: 40%; */
}
.instagram-parent,
.social-media-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.instagram-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
}
.instagram-twitter-section {
  height: 134px;
  width: 134px;
  position: relative;
  border-radius: 100%;
  min-width: 134px;
}
.instagram-twitter-section1 {
  /* height: 134px;
  width: 134px; */
  position: relative;
  border-radius: 100%;
  min-width: 134px;
}
.tonic-the-music-parent{
  display: flex;
  align-self: stretch;
  flex-direction: row;
  gap: 5px;
}

.tonic-the-music-footer,
.tonic-the-music {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
  /* flex-direction: row; */
}
.instagram,
.twitter {
  /* flex: 1; */
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
/* .component-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
} */

@media screen and (max-width: 1225px){
  .rectangle-container {
      gap: 0 330px;
  }}

@media screen and (max-width: 760px) {
.rectangle-container {
    gap: 0 83px;
    align-items: center;
    justify-content: space-around;
}
.rectangle-container {
    gap: 0 83px;
}
}


@media screen and (max-width: 750px){
.rectangle-container {
    width: 1050px;
    gap: 0;
}
.navbar {
  display: block;
  cursor: pointer;
  position: relative;
  top: 7%;
  /* right: 20px; */
  width: 45px;
  height: 45px;
  z-index: 10000;
  color: white;
}

.parent-services-frame-wrapper {
  display: none;
}

.tonic_logo {
  height: auto;
  width: 90px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  /* left: -6rem;*/
}
.horizontal-line-menu {
  height: 10px;
  /* color: #fff; */
  width: 45px;
  position: relative;
  border-left: 0px;
  border-bottom: 2px solid var(--color-white);
  box-sizing: border-box;
  display: block;
}
#navigationWrap {
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--color-blueviolet);
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 50px 0;
  overflow: hidden;
  font-family: var(--font-space-grotesk);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.close {
  display: none;
  opacity: 0;
  position: fixed;
  top: 40px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
  color: #f7f7f8;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}
.horizontal-line-close {
  height: 30px;
  font-size: 40px;
  font-family: var(--font-space-grotesk);
  /* color: #fff; */
}
}
@media screen and (max-width: 450px){
  .rectangle-container {
      gap: 0 83px;
      align-items: center;
      justify-content: space-around;
  }
  .rectangle-container {
      gap: 0 83px;
  }
  .navbar {
    display: block;
    cursor: pointer;
    position: relative;
    top: 7%;
    /* right: 20px; */
    width: 45px;
    height: 45px;
    z-index: 10000;
    color: white;
  }
  .horizontal-line-menu {
    height: 10px;
    /* color: #fff; */
    width: 45px;
    position: relative;
    border-left: 0px;
    border-bottom: 2px solid var(--color-white);
    box-sizing: border-box;
    display: block;
}
#navigationWrap {
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--color-blueviolet);
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 50px 0;
  overflow: hidden;
  font-family: var(--font-space-grotesk);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.close {
  display: none;
  opacity: 0;
  position: fixed;
  top: 40px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
  color: #f7f7f8;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}
.horizontal-line-close {
  height: 30px;
  font-size: 40px;
  font-family: var(--font-space-grotesk);
  /* color: #fff; */
}
}