.tom-pottiger-yxzl9lnxsna-unspl-icon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}

.hideMe{
  display: none;
}
.top-level-frame {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(183.43deg, rgba(0, 0, 0, 0.85), transparent);
  z-index: 1;
}

.instance-child {
  height: 150px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}

.tonic-white-1-icon1 {
  height: 94px;
  width: 133px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}

.contact2,
.services2,
.studios2,
.team3 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.contact2,
.studios2,
.team3 {
  cursor: pointer;
}

.services-frame {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.frame-with-text,
.group-header {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-with-text {
  margin: 0;
  width: 390px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0;
}

.group-header {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-xl) var(--padding-7xl);
  gap: 0 661px;
  z-index: 2;
}

.connect-frames,
.t-01 {
  position: relative;
  max-width: 100%;
}

.connect-frames {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 726px;
  box-sizing: border-box;
  background-image: url(./public/tompottigeryxzl9lnxsnaunsplash-5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.t-01 {
  flex: 1;
  line-height: 93px;
  text-transform: uppercase;
  display: inline-block;
}

.connect-stream-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}

.connect-easily-through6 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
}

.footer-contact-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}

.explore {
  position: relative;
  line-height: 25px;
  font-weight: 500;
}

.additional-group-instance-child {
  width: 15px;
  height: 15px;
  position: relative;
}

.additional-group-instance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}

.studio-logo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
}

.explore-text {
  width: 346px;
  gap: 32px 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.explore-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.text-frame-with-info {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.frame-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.text-frame-with-info {
  align-self: stretch;
  gap: 15vh 0;
}

.frame-container1 {
  width: 368px;
  padding: var(--padding-44xl) 0 0;
  box-sizing: border-box;
  min-width: 368px;
}

.studio-img {
  height: 50vh;
  display: block;
  position: absolute;
  overflow: hidden;
  object-fit: fill;
  mix-blend-mode: normal;
  justify-content: center;
  border-radius: 10%;
}

.custom-image-rectangle {
  display: block;
  flex-direction: column;
  gap: 0 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.image-rectangle {
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 10%;
  overflow: hidden;
}

.title {
  flex: 1;
  position: relative;
  line-height: 93px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
}

.connect-and-stream-frames {
  width: 369px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}

.connect-easily-through7 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
}

.connect-easily-through-wifi-6-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}

.explore1 {
  position: relative;
  line-height: 25px;
  font-weight: 500;
}

.another-group-instance-child {
  width: 15px;
  height: 15px;
  position: relative;
}

.another-group-instance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}

.frame-with-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
}

.connect-and-stream-frames1 {
  width: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 84px;
  box-sizing: border-box;
  gap: 32px 0;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.t-03 {
  flex: 1;
  position: relative;
  line-height: 93px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
}

.connect-and-stream-frames2 {
  width: 369px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}

.connect-easily-through8 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
}

.connect-easily-through-wifi-6-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}

.explore2 {
  position: relative;
  line-height: 25px;
  font-weight: 500;
}

.group-icon {
  width: 15px;
  height: 15px;
  position: relative;
}

.explore-parent,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
}

.frame-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}

.explore-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
}

.connect-and-stream-frames3 {
  width: 346px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.connect-and-stream-frames3,
.explore-frames,
.footer-instance {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.explore-frames {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  /* flex-direction: column; */
  justify-content: flex-start;
  gap: 144px 0;
}

.footer-instance {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-19xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-101xl);
  color: var(--color-blueviolet);
  font-family: var(--font-space-grotesk);
}

.get-in-touch-text {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-blueviolet);
}

.get-in-touch2 {
  margin: 0;
  width: 674px;
  height: 86px;
  position: relative;
  font-size: inherit;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}

.contact3,
.services3,
.studios3,
.team4 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.frame-for-text-and-image {
  width: 414px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}

.tonic-the-music1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.instagram-twitter-icons,
.social-media-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.social-media-logos {
  align-self: stretch;
  gap: 65px 0;
}

.instagram-twitter-icons {
  width: 609px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 609px;
}

.instagram1,
.twitter1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}

.footer-content-frame,
.legal-info-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.footer-content-frame {
  width: 375px;
  justify-content: flex-start;
  gap: 0 2px;
  font-size: var(--font-size-6xl);
}

.legal-info-frame {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.footer1,
.service-contact-frame,
.studio {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.service-contact-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}

.footer1,
.studio {
  position: relative;
  flex-direction: column;
}

.footer1 {
  align-self: stretch;
  padding: var(--padding-43xl) 0 var(--padding-18xl) var(--padding-96xl);
  box-sizing: border-box;
  gap: 105px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.studio {
  width: 100%;
  background-color: var(--color-black);
  overflow: hidden;
  gap: 193px 0;
  letter-spacing: normal;
}


body {
  width: 100%;
  background-color: var(--color-black);
  gap: 193px 0;
  letter-spacing: normal;
}

.wrapp {
  position: relative;
  width: 100%;
  max-width: 80%;
  height: auto;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
  /* outline: 1px solid violet; */
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
  justify-content: center;
}

.spacer {
  width: 100%;
  height: 20vh;
  background: '#ddd';
}

.work {
  display: flex;
}

.work_left {
  position: relative;
  width: 30%;
  z-index: 2;
  /* outline: 1px solid red; */
}

.work_text {
  margin: auto;
  width: 100%;
}

.work_info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: 1px solid green; */
}

.work_num {
  display: block;
  line-height: .9;
  text-align: right;
  font-size: 18px;
  transform: skewX(-20deg);
  color: var(--color-red);
}

.title {
  text-align: right;
  font-size: 120px;
  text-transform: uppercase;
  color: var(--color-blueviolet);
}

.title .stroke {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.work_link {
  display: block;
  width: 365px;
  margin-top: 50px;
  margin-left: auto;
  padding: 18px 0;
  font-size: 20px;
  text-align: center;
  text-transform: - uppercase;
  text-decoration: - none;
  color: var(--pr-color);
  letter-spacing: 4px;
  border: 2px solid var(--color-1-1);
  border-radius: 30px;
  transition: .4s;
}

.work_link:hover {
  background: var(--color-l-l);
  color: var(--c010r-1-2);
  letter-spacing: 6px;
}

.work_right {
  width: 70%;
  height: auto;
  /* background: green; */
}

.work_right-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 75vh;
  top: 10vh;
  /* background: #ff6b4f; */
}

.work_photo {
  width: 40vw;
  height: 30vw;
  position: relative;
}

.work_photo-item {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
  padding-left: var(--padding-3xl);
}

.work_photo-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.work_photo-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .group-header {
    gap: 0 330px;
  }

  .explore-frames {
    gap: 72px 0;
  }

  .instagram-twitter-icons {
    flex: 1;
  }

  .legal-info-frame {
    flex-wrap: wrap;
  }

  .work_photo-item {
    padding: var(--padding-3xl);
  }
}

@media screen and (max-width: 1050px) {
  .connect-frames {
    padding-bottom: 472px;
    box-sizing: border-box;
  }

  .t-01 {
    font-size: var(--font-size-29xl);
    line-height: 60px;
  }

  .frame-container1 {
    flex: 1;
  }

  .custom-image-rectangle {
    /* flex-wrap: wrap; */
    width: 40vw;
    height: 40vw;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  }

  .get-in-touch2,
  .t-02,
  .t-03 {
    font-size: var(--font-size-29xl);
    line-height: 60px;
  }

  .get-in-touch2 {
    font-size: var(--font-size-31xl);
  }

  .instagram-twitter-icons {
    min-width: 100%;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .frame-with-text {
    display: none;
  }

  .group-header {
    gap: 0 165px;
  }

  .frame-container1 {
    padding-top: 41px;
    box-sizing: border-box;
  }

  .studio-img {
    min-width: 100%;
  }

  .custom-image-rectangle {
    gap: 0 15px;
  }

  .explore-frames {
    gap: 36px 0;
  }

  .social-media-logos {
    gap: 32px 0;
  }

  .footer1 {
    gap: 52px 0;
    padding-left: var(--padding-38xl);
    box-sizing: border-box;
  }

  .studio {
    gap: 96px 0;
  }
}

@media screen and (max-width: 450px) {
  .wrapp{
    display: none;
  }
  .group-header {
    gap: 0 83px;
  }

  .connect-frames {
    padding-bottom: 307px;
    box-sizing: border-box;
  }

  .t-01 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }

  .explore {
    font-size: var(--font-size-base);
    line-height: 20px;
  }

  .explore-text {
    gap: 16px 0;
  }

  .text-frame-with-info {
    gap: 30px 0;
  }

  .frame-container1 {
    min-width: 100%;
  }

  .t-02 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }

  .explore1 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }

  .connect-and-stream-frames1 {
    gap: 16px 0;
  }

  .t-03 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }

  .explore2 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }

  .connect-and-stream-frames3 {
    gap: 16px 0;
  }

  .explore-frames {
    gap: 18px 0;
  }

  .get-in-touch2 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }

  .frame-for-text-and-image {
    flex-wrap: wrap;
  }

  .social-media-logos {
    gap: 16px 0;
  }

  .instagram1,
  .twitter1 {
    font-size: var(--font-size-xl);
    line-height: 80px;
  }

  .footer-content-frame {
    flex-wrap: wrap;
  }

  .footer1 {
    gap: 26px 0;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }

  .studio {
    gap: 48px 0;
  }

  .work_left {
    position: relative;
    width: 100%;
    z-index: 2;
    /* outline: 1px solid red; */
  }

  .work_right {
    display: none;
  }

  .work_photo-mobile {
    display: block;
    width: 100%;
  }

  .work_photo-mobile img {
    width: 100%;
  }

  .connect-and-stream-frames1 {
    padding: 0;
  }

  .work_info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    padding-right: 45px;
    /* outline: 1px solid green; */
  }

  .spacer {
    width: 100%;
    height: 0vh;
    background: '#ddd';
  }

  #masterWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  #panelWrap {
    width: 100%;
    height: 100%;
  }

  section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-space-grotesk);
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    background-color: #fff;
    margin: 12px;
    cursor: pointer;
  }

  .dots {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 16px;
  }

  h1 {
    position: absolute;
    z-index: 100;
    font-size: 18px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
  }

  span {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
  }

  #downArrow {
    bottom: 12px;
  }

  #upArrow {
    top: 12px;
  }

  .arrow {
    position: absolute;
    z-index: 100;
    right: 12px;
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    stroke-width: 8px;
    stroke: white;
    fill: transparent;
  }

  .toolTips {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 1000;
  }

  @media (hover:none) {

    .toolTips,
    p.navDotInfo {
      visibility: hidden;
    }
  }

  .toolTip {
    opacity: 0;
    text-align: right;
    height: 12px;
    margin: 12px 0;
    line-height: 12px;
    left: 10px;
    top: 10px;
  }

  h3,
  p {
    padding: 0;
    margin: 0;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    max-width: 400px;
    font-weight: 400;
    text-align: center;
  }

  p.navDotInfo {
    position: absolute;
    bottom: 5px;
    z-index: 225;
    width: 100%;
    text-align: center;
    max-width: 5000px;
    font-size: 0.875em;
  }

  .twitterFollow {
    padding: 16px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 500px;
    text-decoration: none;
    border: solid 2px white;
    color: white;
  }

  .twitterFollow:hover {
    background: white;
    color: #000;
  }

  .hideMe {
    opacity: 0;
    display: flex;
  }

  .iconWrap {
    width: 300px;
    margin-top: 30px;
  }
}

@media (min-width: 700px) {
  .iconWrap {
    width: 600px;
  }
}

.icon {
  text-align: center;
  width: 150px;
  float: left;
}

.icon svg {
  width: 50px;
  height: 50px;
  margin: 6px 0;
  overflow: visible;
}